* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

body{
  background-color: #2E2E2E;
  font-size: 16px;
  color: #fff
}

// Components
@import "../src/styles/Navbar.scss";
@import "../src/styles/Banner.scss";



