.banner{
    padding: 0 6%;
    width: 100%;
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    .banner-text{
        animation: textAnimation 700ms ease normal;
        width: 80%;
        margin-top: 2em;
        z-index: 99;
        h1{
            font-weight: 800;
            font-size: 30px;
            line-height: 35px;  
            span{
                color: #27DEBF;
            }
        }
        p{
            line-height: 27px;
            margin: 1em 0 2.5em;
        }
    }
    img{
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 80%;
        max-height: 30em;
        animation: imgAnimation 700ms ease normal;
    }
    .dropdown{
        display: none;
    }
}

@media only screen and (min-width: 992px){
    .banner{
        height: calc(100vh - 7em);
        flex-direction: row;
        align-items: center;
        position: relative;
        .banner-text{
            width: 35%;
            margin-top: 0;
            margin-bottom: 5em;
            h1{
                font-weight: 800;
                font-size: 3rem;
                line-height: 60px;
            }
            p{
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
            }
        }
        img{
            max-height: 50em;
        }
        .dropdown{
            position: absolute;
            bottom: 3em;
            left: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #27DEBF;
            border-radius: 50%;
            height: 90px;
            width: 90px;
            padding: 2em;
            transition: all 200ms ease;
            &:hover{
                background-color: #27DEBF;
                cursor: pointer;
                svg{
                    path{
                        fill:#2E2E2E;
                    }
                }
            }
            svg{
                animation: arrow 2s ease infinite;
            }
        }
    }
}

@keyframes arrow{
    0%{
      transform: translateY(3px);
    }
    50%{
      transform: translateY(-3px);
    }
    100%{
      transform: translateY(3px);
    }

}

@keyframes textAnimation{
    0%{
      transform: translateX(-40em);
    }
    80%{
        transform: translateX(5em);  
    }
    100%{
      transform: translateX(0);
    }

}

@keyframes imgAnimation{
    0%{
      filter: opacity(0);
    }
    100%{
      filter: opacity(1);
    }
}
